*, body, html {
	padding: 0;
    margin: 0;
    outline: none;
}

body {
    background-color: #2e2e2e;
}

.form {
    width: 400px;
    height: 100vh;
    margin: auto;
    display: flex;
    flex-direction: column;
    
}

.messages {
    min-height: 200px;
    background-color: #eee;
    height: calc(100% - 120px);
    background-color: #626262;
    overflow: auto;
    box-shadow: 0 0 10px rgb(0 0 0 / 36%);
}

p.title {
    text-align: center;
    font-size: 20px;
	font-family: monospace;
    height: 40px;
    color: #878787;
    background-color: #565656;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.panel {
    bottom: 0;
    position: absolute;
    /* margin: 20px; */
	height: 40px;
	width: 400px;
	display: flex;
    margin-bottom: 40px;
    background-color: #626262;
}

input[type="text"] {
    padding: 5px;
    width: 80%;
    background-color: #444444;
    border: 0;
    border-bottom: 2px solid #1a1a1a;
    background-color: #565656;
    margin: 0 1px;
    color: #bcbcbc;
    font-size: 16px;
}

button {
    padding: 5px;
    width: 20%;
    color: #bcbcbc;
    font-size: 16px;
    background-color: #565656;
    border: 0;
}

.message-item {
    margin: 1px 10px;
    font-size: 14px;
    font-family: system-ui;
    padding-bottom: 10px;
}

.name {
    /* color: #0084ff; */
    color: #98cdff;
}

.message-item.me {
    text-align: right;
    width: 96%;
    right: 0;
}

input[name="id"] {
    width: 50px;
}

.message-content {
    color: #c4c4c4;
    width: 70%;
    word-break: break-word;
    white-space: pre-line;
}

.message-item>* {
    line-height: 13px;
}

.me .message-content {
    width: 100%;
}

.name {
    padding-bottom: 3px;
}